/* style.css */

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Button styling */
#actionButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child:first-child {
    margin-right: 20px;
} 
#actionButton:hover {
    background-color: #0056b3;
}

/* Display styling */
.display {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Responsive layout */
@media (max-width: 500px) {
    .container {
        width: 100%;
    }
}
